<p><i class="fa fa-twitter fa-lg fa-fw"></i> <a href="https://twitter.com/tievape/" target="_blank">@tievape</a></p>
<p><i class="fa fa-github fa-lg fa-fw"></i> <a href="https://github.com/gcrowder/" target="_blank">@gcrowder</a></p>
<p><i class="fa fa-linkedin fa-lg fa-fw"></i> <a href="https://www.linkedin.com/in/gregory-crowder-96b72612" target="_blank">linkedin.com/in/gregory-crowder-96b72612</a></p>
<p><i class="fa fa-laptop fa-lg fa-fw"></i> <a href="https://gcrowder.github.io/" target="_blank">gcrowder.github.io</a></p>
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="mailto:gregory.j.crowder@gmail.com" target="_blank">gregory.j.crowder@gmail.com</a></p>
